@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #121725;
    font-family: "Chivo", "sans-serif";
    color: white;
    padding: 0px 40px 0px 40px;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    /* padding: 0px 30px 0px 30px; */
}

h1 {
    font-weight: 300;
    font-size: 52px;
    line-height: 62px;
    text-transform: uppercase;
}

p {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #C2CBE5;
}

/*------------------------------ HEADER SECTION ------------------------------*/

header img {
    margin-top:107px;
}

@media(max-width: 768px) {
    header img {
        margin-top:50px;
    }
}

@media(max-width: 715px) {
    header{
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 375px) {
    header img {
        margin-top:62px;
    }
}
/*------------------------------ MAIN SECTION ------------------------------*/

main .main-text {
    max-width: 723px;
    margin-top: 103px;
    padding-top: 88px;
    padding-right: 77px;
}

main .main-text p {
    margin-top: 24px;
    max-width: 445px;
}

main form {
    margin-top: 40px;
}

main form #email-box{
    background: #2C344B;
    border-radius: 28px;
    padding: 14px 0 14px 32px;
    width: 427px;
    border: none;
    
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
}

main form #submit-button{
    background: #54E6AF;
    box-shadow: 0px 2px 4px rgba(84, 230, 175, 0.14);
    padding: 10px 28px 10px 28px;
    border-radius: 28px;
    border: none;
    
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    color: #121725;

    position: relative;
    right: 172px;
}

main form #submit-button:hover{
    background: #B3FFE2;
    box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.2);
    border-radius: 28px;
    cursor: pointer;
}

main .main-text .company-logos {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

main .main-text .company-logos img {
    margin-right: 40px;
}

@media(max-width: 802px) {
    main .main-text h1 {
        font-size: 48px;
    }
}

@media(max-width: 768px) {
    main .main-text {
        margin-top: 152px;
        padding-top: 93px;
        padding-right: 39px;
    }
}

@media(max-width: 715px) {
    main .main-text {
        padding-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main .main-text h1 {
        text-align: center;
        line-height: 56px;
    }
    main .main-text p {
        text-align: center;
    }

    main form {
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    main form #email-box{
        width: 100%;
        margin-bottom: 16px;
        
    }
    main form #submit-button{
        position: static;
        padding: 14px 28px 14px 28px;
    }
    main .main-text .company-logos {
        width: 100%;
    }
    main .main-text .company-logos img {
        flex-shrink: 2;
    }
}

@media(max-width: 675px) {
    main .main-text {
        margin-top: 57px;
    }
    main .main-text h1 {
        font-size: 38px;
    }
    main .main-text p {
        font-size: 15px;
    }
}

@media(max-width: 375px) {
    main .main-text h1 {
        font-size: 26px;
        line-height: 38px;
    }
}








